In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("Employee_Data.csv")

In [6]:
df.head()

   Employee_id  Gender Remarks
0           56  Female    Nice
1           59    Male   Good
2           61    Male   Great
3           67  Female    Nice
4           68    Male   Good

In [7]:
df['Gender'].unique()

array(['Female', 'Male'], dtype=object)

In [8]:
df['Remarks'].unique()

array(['Nice', 'Good ', 'Great'], dtype=object)

In [9]:
df['Gender'].value_counts()

Male      16
Female     8
Name: Gender, dtype: int64

In [10]:
df['Remarks'].value_counts()

Nice     8
Good     8
Great    8
Name: Remarks, dtype: int64

In [11]:
one_hot_encoded_data = pd.get_dummies(df, columns = ['Remarks', 'Gender'])

In [12]:
one_hot_encoded_data

,Employee_id,Remarks_Good,Remarks_Great,Remarks_Nice,Gender_Female,Gender_Male
0,56,0,0,1,1,0
1,59,1,0,0,0,1
2,61,0,1,0,0,1
3,67,0,0,1,1,0
4,68,1,0,0,0,1
5,69,0,1,0,0,1
6,72,0,0,1,1,0
7,75,1,0,0,0,1
8,77,0,1,0,0,1
9,79,0,0,1,1,0
10,81,1,0,0,0,1
11,85,0,1,0,0,1
12,87,0,0,1,1,0
13,89,1,0,0,0,1
14,90,0,1,0,0,1
15,93,0,0,1,1,0
16,95,1,0,0,0,1
17,97,0,1,0,0,1
18,100,0,0,1,1,0
19,103,1,0,0,0,1
20,104,0,1,0,0,1
21,107,0,0,1,1,0
22,109,1,0,0,0,1
23,110,0,1,0,0,1

# One Hot Encoding using Sci-kit Learn Library

In [13]:
from sklearn.preprocessing import OneHotEncoder

In [14]:
df.dtypes

Employee_id     int64
Gender         object
Remarks        object
dtype: object

In [16]:
df['Gender'] = df['Gender'].astype('category')

In [17]:
df['Remarks'] = df['Remarks'].astype('category')

In [18]:
#Assigning Numerical values and storing it in another columns
df['Gender_New'] = df['Gender'].cat.codes
df['Remarks_New'] = df['Remarks'].cat.codes

In [22]:
df['Gender_New']

0     0
1     1
2     1
3     0
4     1
5     1
6     0
7     1
8     1
9     0
10    1
11    1
12    0
13    1
14    1
15    0
16    1
17    1
18    0
19    1
20    1
21    0
22    1
23    1
Name: Gender_New, dtype: int8

In [23]:
# Create an instance of one-hot-encoder

enc = OneHotEncoder()

In [24]:
# Passing Encoded Columns
enc_df = pd.DataFrame(enc.fit_transform(df[['Gender_New','Remarks_New']]).toarray())

In [25]:
enc_df

      0    1    2    3    4
0   1.0  0.0  0.0  0.0  1.0
1   0.0  1.0  1.0  0.0  0.0
2   0.0  1.0  0.0  1.0  0.0
3   1.0  0.0  0.0  0.0  1.0
4   0.0  1.0  1.0  0.0  0.0
5   0.0  1.0  0.0  1.0  0.0
6   1.0  0.0  0.0  0.0  1.0
7   0.0  1.0  1.0  0.0  0.0
8   0.0  1.0  0.0  1.0  0.0
9   1.0  0.0  0.0  0.0  1.0
10  0.0  1.0  1.0  0.0  0.0
11  0.0  1.0  0.0  1.0  0.0
12  1.0  0.0  0.0  0.0  1.0
13  0.0  1.0  1.0  0.0  0.0
14  0.0  1.0  0.0  1.0  0.0
15  1.0  0.0  0.0  0.0  1.0
16  0.0  1.0  1.0  0.0  0.0
17  0.0  1.0  0.0  1.0  0.0
18  1.0  0.0  0.0  0.0  1.0
19  0.0  1.0  1.0  0.0  0.0
20  0.0  1.0  0.0  1.0  0.0
21  1.0  0.0  0.0  0.0  1.0
22  0.0  1.0  1.0  0.0  0.0
23  0.0  1.0  0.0  1.0  0.0

In [26]:
# Merge with main
new_df = df.join(enc_df)

In [27]:
print(new_df)

    Employee_id  Gender Remarks  Gender_New  Remarks_New    0    1    2    3  \
0            56  Female    Nice           0            2  1.0  0.0  0.0  0.0
1            59    Male   Good            1            0  0.0  1.0  1.0  0.0
2            61    Male   Great           1            1  0.0  1.0  0.0  1.0
3            67  Female    Nice           0            2  1.0  0.0  0.0  0.0
4            68    Male   Good            1            0  0.0  1.0  1.0  0.0
5            69    Male   Great           1            1  0.0  1.0  0.0  1.0
6            72  Female    Nice           0            2  1.0  0.0  0.0  0.0
7            75    Male   Good            1            0  0.0  1.0  1.0  0.0
8            77    Male   Great           1            1  0.0  1.0  0.0  1.0
9            79  Female    Nice           0            2  1.0  0.0  0.0  0.0
10           81    Male   Good            1            0  0.0  1.0  1.0  0.0
11           85    Male   Great           1            1  0.0  1.0  0.0  1.0
12           87  Female    Nice           0            2  1.0  0.0  0.0  0.0
13           89    Male   Good            1            0  0.0  1.0  1.0  0.0
14           90    Male   Great           1            1  0.0  1.0  0.0  1.0
15           93  Female    Nice           0            2  1.0  0.0  0.0  0.0
16           95    Male   Good            1            0  0.0  1.0  1.0  0.0
17           97    Male   Great           1            1  0.0  1.0  0.0  1.0
18          100  Female    Nice           0            2  1.0  0.0  0.0  0.0
19          103    Male   Good            1            0  0.0  1.0  1.0  0.0
20          104    Male   Great           1            1  0.0  1.0  0.0  1.0
21          107  Female    Nice           0            2  1.0  0.0  0.0  0.0
22          109    Male   Good            1            0  0.0  1.0  1.0  0.0
23          110    Male   Great           1            1  0.0  1.0  0.0  1.0

      4
0   1.0
1   0.0
2   0.0
3   1.0
4   0.0
5   0.0
6   1.0
7   0.0
8   0.0
9   1.0
10  0.0
11  0.0
12  1.0
13  0.0
14  0.0
15  1.0
16  0.0
17  0.0
18  1.0
19  0.0
20  0.0
21  1.0
22  0.0
23  0.0